@tailwind base;
@tailwind components;
@tailwind utilities;

.slide-down-enter-active,
.slide-down-leave-active,
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 1s ease;
}

.slide-down-enter-to {
  position: absolute;
  bottom: -100%;
}

.slide-down-enter-from {
  position: absolute;
  bottom: 0 ;
}
.slide-down-leave-to {
  position: absolute;
  top:  0;
}

.slide-down-leave-from {
  position: absolute;
  top: -100% ;
}



.slide-up-enter-to {
    position: absolute;
    top: 0;
  }
  
  .slide-up-enter-from {
    position: absolute;
    top: -100% ;
  }
  .slide-up-leave-to {
    position: absolute;
    bottom:  -100%;
  }
  
  .slide-up-leave-from {
    position: absolute;
    bottom: 0 ;
  }

  .planets {
    @apply grid gap-4 ;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

  }